[Reference](https://hanif-watson.medium.com/a-brief-introduction-to-yfinance-af5e11625378)

In [3]:
!pip install yfinance --upgrade --no-cache-dir
# pip install -i https://pypi.anaconda.org/ranaroussi/simple yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.1 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 40.6 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

# Getttng Started With Ticker Objects

In [5]:
import yfinance as yf

In [6]:
# the string is not case sensitive
MMM = yf.Ticker('MMM')

In [9]:
# again, the string is not case sensitive
tickers = yf.Tickers('MMM BMY TSLA')

In [11]:
# saving the ticker to the variable BMY
BMY = tickers.tickers['BMY']

# Ticker Attributes

In [12]:
BMY.calendar

                                Value
Earnings Date     2022-04-29 12:30:00
Earnings Average                 1.93
Earnings Low                     1.83
Earnings High                    2.05
Revenue Average           11407500000
Revenue Low               11021000000
Revenue High              11813000000

In [13]:
# showing the last five dividend payments
BMY.dividends.tail()

Date
2021-03-31    0.49
2021-07-01    0.49
2021-09-30    0.49
2022-01-06    0.54
2022-03-31    0.54
Name: Dividends, dtype: float64

In [14]:
BMY.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'address2', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'regularMarketPrice', 'preMarketPrice', 'logo_url'])

# Options Market Information

In [15]:
def get_expirations(symbol : str):
    stock = yf.Ticker(symbol)
    return stock.options
# getting BMY's expiration dates
get_expirations('BMY')

('2022-04-08',
 '2022-04-14',
 '2022-04-22',
 '2022-04-29',
 '2022-05-06',
 '2022-05-13',
 '2022-05-20',
 '2022-06-17',
 '2022-07-15',
 '2022-09-16',
 '2023-01-20',
 '2023-06-16',
 '2024-01-19')

In [17]:
def options_mrkt(symbol : str, expiration : str, option : str):
    stock = yf.Ticker(symbol)
    opt = stock.option_chain(expiration)
    if option == 'calls':
        return opt.calls.sort_values(by='strike')
    elif option == 'puts':
        return opt.puts.sort_values(by='strike')
# displaying info for the first ten calls
options_mrkt('BMY', '2022-04-14', 'calls')[:10]

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,BMY220414C00035000,2022-04-04 19:41:58+00:00,35.0,38.70,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD
1,BMY220414C00050000,2022-04-07 19:51:48+00:00,50.0,27.29,0.0,0.0,0.0,0.0,114.0,0,0.00001,True,REGULAR,USD
2,BMY220414C00055000,2022-04-07 15:20:40+00:00,55.0,21.04,0.0,0.0,0.0,0.0,4.0,0,0.00001,True,REGULAR,USD
3,BMY220414C00057500,2022-03-30 19:45:19+00:00,57.5,16.03,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD
4,BMY220414C00060000,2022-04-07 19:36:44+00:00,60.0,17.24,0.0,0.0,0.0,0.0,5.0,0,0.00001,True,REGULAR,USD
5,BMY220414C00062000,2022-03-31 13:44:26+00:00,62.0,11.40,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD
6,BMY220414C00062500,2022-04-07 19:24:50+00:00,62.5,14.55,0.0,0.0,0.0,0.0,5.0,0,0.00001,True,REGULAR,USD
7,BMY220414C00063000,2022-03-25 13:30:21+00:00,63.0,9.54,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD
8,BMY220414C00064000,2022-04-06 19:22:51+00:00,64.0,11.25,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD
9,BMY220414C00065000,2022-04-07 19:49:46+00:00,65.0,12.11,0.0,0.0,0.0,0.0,15.0,0,0.00001,True,REGULAR,USD