In [0]:
import pandas as pd
from datetime import datetime
import numpy as np

In [0]:
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [3]:
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [4]:
type(date_rng[0])

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.head(15)

                  date  data
0  2018-01-01 00:00:00    25
1  2018-01-01 01:00:00    35
2  2018-01-01 02:00:00    72
3  2018-01-01 03:00:00     2
4  2018-01-01 04:00:00    47
5  2018-01-01 05:00:00    99
6  2018-01-01 06:00:00    23
7  2018-01-01 07:00:00    63
8  2018-01-01 08:00:00    43
9  2018-01-01 09:00:00    90
10 2018-01-01 10:00:00    62
11 2018-01-01 11:00:00    12
12 2018-01-01 12:00:00    34
13 2018-01-01 13:00:00    37
14 2018-01-01 14:00:00    82

In [6]:
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis=1, inplace=True)
df.head()

                     data
datetime
2018-01-01 00:00:00    25
2018-01-01 01:00:00    35
2018-01-01 02:00:00    72
2018-01-01 03:00:00     2
2018-01-01 04:00:00    47

In [7]:
string_date_rng = [str(x) for x in date_rng]
string_date_rng

['2018-01-01 00:00:00',
 '2018-01-01 01:00:00',
 '2018-01-01 02:00:00',
 '2018-01-01 03:00:00',
 '2018-01-01 04:00:00',
 '2018-01-01 05:00:00',
 '2018-01-01 06:00:00',
 '2018-01-01 07:00:00',
 '2018-01-01 08:00:00',
 '2018-01-01 09:00:00',
 '2018-01-01 10:00:00',
 '2018-01-01 11:00:00',
 '2018-01-01 12:00:00',
 '2018-01-01 13:00:00',
 '2018-01-01 14:00:00',
 '2018-01-01 15:00:00',
 '2018-01-01 16:00:00',
 '2018-01-01 17:00:00',
 '2018-01-01 18:00:00',
 '2018-01-01 19:00:00',
 '2018-01-01 20:00:00',
 '2018-01-01 21:00:00',
 '2018-01-01 22:00:00',
 '2018-01-01 23:00:00',
 '2018-01-02 00:00:00',
 '2018-01-02 01:00:00',
 '2018-01-02 02:00:00',
 '2018-01-02 03:00:00',
 '2018-01-02 04:00:00',
 '2018-01-02 05:00:00',
 '2018-01-02 06:00:00',
 '2018-01-02 07:00:00',
 '2018-01-02 08:00:00',
 '2018-01-02 09:00:00',
 '2018-01-02 10:00:00',
 '2018-01-02 11:00:00',
 '2018-01-02 12:00:00',
 '2018-01-02 13:00:00',
 '2018-01-02 14:00:00',
 '2018-01-02 15:00:00',
 '2018-01-02 16:00:00',
 '2018-01-02 17:00:00',
 '2018-01-02 18:00:00',
 '2018-01-02 19:00:00',
 '2018-01-02 20:00:00',
 '2018-01-02 21:00:00',
 '2018-01-02 22:00:00',
 '2018-01-02 23:00:00',
 '2018-01-03 00:00:00',
 '2018-01-03 01:00:00',
 '2018-01-03 02:00:00',
 '2018-01-03 03:00:00',
 '2018-01-03 04:00:00',
 '2018-01-03 05:00:00',
 '2018-01-03 06:00:00',
 '2018-01-03 07:00:00',
 '2018-01-03 08:00:00',
 '2018-01-03 09:00:00',
 '2018-01-03 10:00:00',
 '2018-01-03 11:00:00',
 '2018-01-03 12:00:00',
 '2018-01-03 13:00:00',
 '2018-01-03 14:00:00',
 '2018-01-03 15:00:00',
 '2018-01-03 16:00:00',
 '2018-01-03 17:00:00',
 '2018-01-03 18:00:00',
 '2018-01-03 19:00:00',
 '2018-01-03 20:00:00',
 '2018-01-03 21:00:00',
 '2018-01-03 22:00:00',
 '2018-01-03 23:00:00',
 '2018-01-04 00:00:00',
 '2018-01-04 01:00:00',
 '2018-01-04 02:00:00',
 '2018-01-04 03:00:00',
 '2018-01-04 04:00:00',
 '2018-01-04 05:00:00',
 '2018-01-04 06:00:00',
 '2018-01-04 07:00:00',
 '2018-01-04 08:00:00',
 '2018-01-04 09:00:00',
 '2018-01-04 10:00:00',
 '2018-01-04 11:00:00',
 '2018-01-04 12:00:00',
 '2018-01-04 13:00:00',
 '2018-01-04 14:00:00',
 '2018-01-04 15:00:00',
 '2018-01-04 16:00:00',
 '2018-01-04 17:00:00',
 '2018-01-04 18:00:00',
 '2018-01-04 19:00:00',
 '2018-01-04 20:00:00',
 '2018-01-04 21:00:00',
 '2018-01-04 22:00:00',
 '2018-01-04 23:00:00',
 '2018-01-05 00:00:00',
 '2018-01-05 01:00:00',
 '2018-01-05 02:00:00',
 '2018-01-05 03:00:00',
 '2018-01-05 04:00:00',
 '2018-01-05 05:00:00',
 '2018-01-05 06:00:00',
 '2018-01-05 07:00:00',
 '2018-01-05 08:00:00',
 '2018-01-05 09:00:00',
 '2018-01-05 10:00:00',
 '2018-01-05 11:00:00',
 '2018-01-05 12:00:00',
 '2018-01-05 13:00:00',
 '2018-01-05 14:00:00',
 '2018-01-05 15:00:00',
 '2018-01-05 16:00:00',
 '2018-01-05 17:00:00',
 '2018-01-05 18:00:00',
 '2018-01-05 19:00:00',
 '2018-01-05 20:00:00',
 '2018-01-05 21:00:00',
 '2018-01-05 22:00:00',
 '2018-01-05 23:00:00',
 '2018-01-06 00:00:00',
 '2018-01-06 01:00:00',
 '2018-01-06 02:00:00',
 '2018-01-06 03:00:00',
 '2018-01-06 04:00:00',
 '2018-01-06 05:00:00',
 '2018-01-06 06:00:00',
 '2018-01-06 07:00:00',
 '2018-01-06 08:00:00',
 '2018-01-06 09:00:00',
 '2018-01-06 10:00:00',
 '2018-01-06 11:00:00',
 '2018-01-06 12:00:00',
 '2018-01-06 13:00:00',
 '2018-01-06 14:00:00',
 '2018-01-06 15:00:00',
 '2018-01-06 16:00:00',
 '2018-01-06 17:00:00',
 '2018-01-06 18:00:00',
 '2018-01-06 19:00:00',
 '2018-01-06 20:00:00',
 '2018-01-06 21:00:00',
 '2018-01-06 22:00:00',
 '2018-01-06 23:00:00',
 '2018-01-07 00:00:00',
 '2018-01-07 01:00:00',
 '2018-01-07 02:00:00',
 '2018-01-07 03:00:00',
 '2018-01-07 04:00:00',
 '2018-01-07 05:00:00',
 '2018-01-07 06:00:00',
 '2018-01-07 07:00:00',
 '2018-01-07 08:00:00',
 '2018-01-07 09:00:00',
 '2018-01-07 10:00:00',
 '2018-01-07 11:00:00',
 '2018-01-07 12:00:00',
 '2018-01-07 13:00:00',
 '2018-01-07 14:00:00',
 '2018-01-07 15:00:00',
 '2018-01-07 16:00:00',
 '2018-01-07 17:00:00',
 '2018-01-07 18:00:00',
 '2018-01-07 19:00:00',
 '2018-01-07 20:00:00',
 '2018-01-07 21:00:00',
 '2018-01-07 22:00:00',
 '2018-01-07 23:00:00',
 '2018-01-08 00:00:00']

In [8]:
timestamp_date_rng = pd.to_datetime(string_date_rng, infer_datetime_format=True)
timestamp_date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq=None)

In [9]:
string_date_rng_2 = ['June-01-2018', 'June-02-2018', 'June-03-2018']
timestamp_date_rng_2 = [datetime.strptime(x,'%B-%d-%Y') for x in string_date_rng_2]
timestamp_date_rng_2

[datetime.datetime(2018, 6, 1, 0, 0),
 datetime.datetime(2018, 6, 2, 0, 0),
 datetime.datetime(2018, 6, 3, 0, 0)]

In [10]:
df2 = pd.DataFrame(timestamp_date_rng_2, columns=['date'])
df2

        date
0 2018-06-01
1 2018-06-02
2 2018-06-03

In [11]:
df[df.index.day == 2]

                     data
datetime
2018-01-02 00:00:00    17
2018-01-02 01:00:00    55
2018-01-02 02:00:00    70
2018-01-02 03:00:00    72
2018-01-02 04:00:00    32
2018-01-02 05:00:00     4
2018-01-02 06:00:00    78
2018-01-02 07:00:00    31
2018-01-02 08:00:00    84
2018-01-02 09:00:00    55
2018-01-02 10:00:00     8
2018-01-02 11:00:00    42
2018-01-02 12:00:00    66
2018-01-02 13:00:00    86
2018-01-02 14:00:00     4
2018-01-02 15:00:00    63
2018-01-02 16:00:00    64
2018-01-02 17:00:00    99
2018-01-02 18:00:00    25
2018-01-02 19:00:00    88
2018-01-02 20:00:00    80
2018-01-02 21:00:00    13
2018-01-02 22:00:00    15
2018-01-02 23:00:00    62

In [12]:
df['2018-01-03']

                     data
datetime
2018-01-03 00:00:00    17
2018-01-03 01:00:00    73
2018-01-03 02:00:00     7
2018-01-03 03:00:00    49
2018-01-03 04:00:00    33
2018-01-03 05:00:00    84
2018-01-03 06:00:00    32
2018-01-03 07:00:00    24
2018-01-03 08:00:00    60
2018-01-03 09:00:00    61
2018-01-03 10:00:00    63
2018-01-03 11:00:00    44
2018-01-03 12:00:00     0
2018-01-03 13:00:00    61
2018-01-03 14:00:00    97
2018-01-03 15:00:00     7
2018-01-03 16:00:00    46
2018-01-03 17:00:00    15
2018-01-03 18:00:00    93
2018-01-03 19:00:00    86
2018-01-03 20:00:00    77
2018-01-03 21:00:00    54
2018-01-03 22:00:00     4
2018-01-03 23:00:00    16

In [13]:
df['2018-01-04':'2018-01-06']

                     data
datetime
2018-01-04 00:00:00    27
2018-01-04 01:00:00    67
2018-01-04 02:00:00    43
2018-01-04 03:00:00    86
2018-01-04 04:00:00    65
...                   ...
2018-01-06 19:00:00    47
2018-01-06 20:00:00     2
2018-01-06 21:00:00    64
2018-01-06 22:00:00    88
2018-01-06 23:00:00    76

[72 rows x 1 columns]

In [14]:
# resample the data at a different frequency
df.resample('D').mean()

                 data
datetime
2018-01-01  52.875000
2018-01-02  50.541667
2018-01-03  45.958333
2018-01-04  50.708333
2018-01-05  51.875000
2018-01-06  37.750000
2018-01-07  55.083333
2018-01-08  53.000000

In [15]:
# Window Statistics such as a rolling mean or a rolling sum
df['rolling_sum'] = df.rolling(3).sum()
df.head(10)

                     data  rolling_sum
datetime
2018-01-01 00:00:00    25          NaN
2018-01-01 01:00:00    35          NaN
2018-01-01 02:00:00    72        132.0
2018-01-01 03:00:00     2        109.0
2018-01-01 04:00:00    47        121.0
2018-01-01 05:00:00    99        148.0
2018-01-01 06:00:00    23        169.0
2018-01-01 07:00:00    63        185.0
2018-01-01 08:00:00    43        129.0
2018-01-01 09:00:00    90        196.0

In [16]:
df['rolling_sum_backfilled'] = df['rolling_sum'].fillna(method='backfill')
df.head(10)

                     data  rolling_sum  rolling_sum_backfilled
datetime
2018-01-01 00:00:00    25          NaN                   132.0
2018-01-01 01:00:00    35          NaN                   132.0
2018-01-01 02:00:00    72        132.0                   132.0
2018-01-01 03:00:00     2        109.0                   109.0
2018-01-01 04:00:00    47        121.0                   121.0
2018-01-01 05:00:00    99        148.0                   148.0
2018-01-01 06:00:00    23        169.0                   169.0
2018-01-01 07:00:00    63        185.0                   185.0
2018-01-01 08:00:00    43        129.0                   129.0
2018-01-01 09:00:00    90        196.0                   196.0

In [17]:
epoch_t = 1529272655
real_t = pd.to_datetime(epoch_t, unit='s')
real_t

Timestamp('2018-06-17 21:57:35')

In [19]:
real_t.tz_localize('UTC').tz_convert('US/Pacific')

Timestamp('2018-06-17 14:57:35-0700', tz='US/Pacific')