[Reference](https://medium.com/@akaivdo/pandas-dateoffset-timedelta-period-4cd44874e632)

# 1. Basic

# DateOffset

In [1]:
import pandas as pd
from pandas.tseries.offsets import DateOffset
pd.Timestamp(2022,4,3) + DateOffset(days=2)

Timestamp('2022-04-05 00:00:00')

# Timedelta

In [2]:
pd.Timestamp(2022,4,3) - pd.Timestamp(2022,4,2)

Timedelta('1 days 00:00:00')

# Period

In [3]:
p = pd.Period("2022/4/8", freq="2d")
print(p.start_time)
print(p.end_time)

2022-04-08 00:00:00
2022-04-09 23:59:59.999999999

# 2. DateOffset

## Create a DateOffset object

In [4]:
DateOffset(months=1)
# OR
pd.DateOffset(months=1)

## Adding a time duration

In [5]:
pd.Timestamp(2022,4,3) + DateOffset(weeks=1)

Timestamp('2022-04-10 00:00:00')

## Subtracting a time duration

In [6]:
pd.Timestamp(2022,4,3) - DateOffset(weeks=1)

Timestamp('2022-03-27 00:00:00')

## Apply operations on Series

In [7]:
s = pd.Series([
    pd.Timestamp("2021-1-1"),
    pd.Timestamp("2021-2-1"),
    pd.Timestamp("2021-3-1"),
])
s + DateOffset(days=1)

0   2021-01-02
1   2021-02-02
2   2021-03-02
dtype: datetime64[ns]

In [8]:
s - DateOffset(weeks=1)

0   2020-12-25
1   2021-01-25
2   2021-02-22
dtype: datetime64[ns]

In [9]:
offset = pd.Series([
    DateOffset(days=1),
    DateOffset(days=2),
    DateOffset(days=3),
])
s + offset

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimelike.py:1190: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  PerformanceWarning,

0   2021-01-02
1   2021-02-03
2   2021-03-04
dtype: datetime64[ns]

## Get the month-start of the current month

In [10]:
pd.Timestamp("2022/04/15") - pd.offsets.MonthBegin()

Timestamp('2022-04-01 00:00:00')

## Get the month-end of the current month

In [11]:
pd.Timestamp("2022/04/15") + pd.offsets.MonthEnd()

Timestamp('2022-04-30 00:00:00')

## Get the month-start of next month

In [12]:
pd.Timestamp("2022/04/15") + pd.offsets.MonthBegin()

Timestamp('2022-05-01 00:00:00')

## Get the month-end of last month

In [13]:
pd.Timestamp("2022/04/15") - pd.offsets.MonthEnd()

Timestamp('2022-03-31 00:00:00')

## Get the month-start of last month

In [14]:
pd.Timestamp("2022/04/15") - pd.offsets.MonthEnd()  - pd.offsets.MonthBegin()

Timestamp('2022-03-01 00:00:00')

## Get the month-end of next month

In [15]:
pd.Timestamp("2022/04/15") + pd.offsets.MonthBegin() + pd.offsets.MonthEnd()

Timestamp('2022-05-31 00:00:00')

## Get the date after 3 business days

In [16]:
pd.Timestamp("2022/04/15") + pd.offsets.BusinessDay(3)

Timestamp('2022-04-20 00:00:00')

## Get the date after 3 business days with specifying custom holidays

In [17]:
pd.Timestamp("2022/04/15") + pd.offsets.CustomBusinessDay(3, holidays=[
    "2022-04-18",
    "2022-05-18",
    "2022-06-18",
])

Timestamp('2022-04-21 00:00:00')

## Customize working days of a week

In [18]:
pd.Timestamp("2022/04/15") + pd.offsets.CustomBusinessDay(3, weekmask='Mon Tue Thu Fri Sat')

Timestamp('2022-04-19 00:00:00')

# 3. Timedelta

## Create a Timedelta object

In [19]:
pd.Timedelta(2, unit="days")

Timedelta('2 days 00:00:00')

In [20]:
pd.Timedelta(weeks=1)

Timedelta('7 days 00:00:00')

In [21]:
pd.Timestamp("2022/04/23") - pd.Timestamp("2022/04/15")

Timedelta('8 days 00:00:00')

## Convert the Timedelta to Pythonâ€™s datetime.timedelta object

In [22]:
pd.Timedelta(3, unit="days").to_pytimedelta()

datetime.timedelta(days=3)

## Adding or subtracting the Timedelta

In [23]:
pd.Timestamp("2022-04-15 08:00:00") + pd.Timedelta(1, unit="hour")

Timestamp('2022-04-15 09:00:00')

In [24]:
pd.Timestamp("2022-04-15 08:00:00") - pd.Timedelta(30, unit="minutes")

Timestamp('2022-04-15 07:30:00')

## Calculating the difference of two date columns of DataFrame

In [25]:
df = pd.DataFrame(data={
    "date_col1":[
        pd.Timestamp("2022-04-01"),
        pd.Timestamp("2022-04-05"),
        pd.Timestamp("2022-04-08"),
    ],
    "date_col2":[
        pd.Timestamp("2022-04-10"),
        pd.Timestamp("2022-04-09"),
        pd.Timestamp("2022-04-07"),
    ],
})
df

   date_col1  date_col2
0 2022-04-01 2022-04-10
1 2022-04-05 2022-04-09
2 2022-04-08 2022-04-07

In [26]:
df["date_col2"] - df["date_col1"]

0    9 days
1    4 days
2   -1 days
dtype: timedelta64[ns]

# 4. Period

## Create a Period

In [27]:
print(f"Start: {pd.Period('2022/4/15').start_time}")
print(f"End: {pd.Period('2022/4/15').end_time}")
pd.Period("2022/4/15")

Start: 2022-04-15 00:00:00
End: 2022-04-15 23:59:59.999999999

Period('2022-04-15', 'D')

## Create a 3-day period from 2022/4/15

In [28]:
print(f"Start: {pd.Period('2022/4/15', freq='3D').start_time}")
print(f"End: {pd.Period('2022/4/15', freq='3D').end_time}")
pd.Period('2022/4/15', freq='3D')

Start: 2022-04-15 00:00:00
End: 2022-04-17 23:59:59.999999999

Period('2022-04-15', '3D')

## Create a 2-month period based on the month of 2022/4/15

In [29]:
print(f"Start: {pd.Period('2022/4/15', freq='2M').start_time}")
print(f"End: {pd.Period('2022/4/15', freq='2M').end_time}")
pd.Period('2022/4/15', freq='2M')

Start: 2022-04-01 00:00:00
End: 2022-05-31 23:59:59.999999999

Period('2022-04', '2M')

## Create a 5-year period based on the year 2022/4/15

In [30]:
print(f"Start: {pd.Period('2022/4/15', freq='5Y').start_time}")
print(f"End: {pd.Period('2022/4/15', freq='5Y').end_time}")
pd.Period('2022/4/15', freq='5Y')

Start: 2022-01-01 00:00:00
End: 2026-12-31 23:59:59.999999999

Period('2022', '5A-DEC')

## Create a 2-hour period based on the hour of 2022/4/15

In [31]:
print(f"Start: {pd.Period('2022/4/15', freq='2H').start_time}")
print(f"End: {pd.Period('2022/4/15', freq='2H').end_time}")
pd.Period('2022/4/15', freq='2H')

Start: 2022-04-15 00:00:00
End: 2022-04-15 01:59:59.999999999

Period('2022-04-15 00:00', '2H')

## Create a 1-day 2-hour 30-minute period based on 2022/4/15

In [32]:
print(f"Start: {pd.Period('2022/4/15', freq='1D2H30T').start_time}")
print(f"End: {pd.Period('2022/4/15', freq='1D2H30T').end_time}")
pd.Period('2022/4/15', freq='1D2H30T')

Start: 2022-04-15 00:00:00
End: 2022-04-16 02:29:59.999999999

Period('2022-04-15 00:00', '1590T')

## Get the start and end of a Period

In [33]:
pd.Period('2022/4/15', freq='3D').start_time

Timestamp('2022-04-15 00:00:00')

In [34]:
pd.Period('2022/4/15', freq='3D').end_time

Timestamp('2022-04-17 23:59:59.999999999')

## Check if a date falls within a Period or not

In [35]:
p = pd.Period('2022/4/15 00:00:00', freq='1D2H30T')
print(f"Start: {p.start_time}")
print(f"End: {p.end_time}")
p

Start: 2022-04-15 00:00:00
End: 2022-04-16 02:29:59.999999999

Period('2022-04-15 00:00', '1590T')

In [36]:
date1 = pd.Timestamp("2022-04-14 3:00:00")
date2 = pd.Timestamp("2022-04-15 12:00:00")
date3 = pd.Timestamp("2022-04-23 1:00:00")

In [37]:
print(f"Before the period: {date1 < p.start_time}")
print(f"Within the period: {p.start_time <= date1 <= p.end_time}")
print(f"After the period: {date1 > p.end_time}")

Before the period: True
Within the period: False
After the period: False

In [38]:
print(f"Before the period: {date2 < p.start_time}")
print(f"Within the period: {p.start_time <= date2 <= p.end_time}")
print(f"After the period: {date2 > p.end_time}")

Before the period: False
Within the period: True
After the period: False

In [39]:
print(f"Before the period: {date3 < p.start_time}")
print(f"Within the period: {p.start_time <= date3 <= p.end_time}")
print(f"After the period: {date3 > p.end_time}")

Before the period: False
Within the period: False
After the period: True